<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Kiosk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Kiosk.Properties.Settings>
            <setting name="idlocal" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="idkiosk" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="localname" serializeAs="String">
                <value />
            </setting>
            <setting name="kioskname" serializeAs="String">
                <value />
            </setting>
            <setting name="host" serializeAs="String">
                <value>192.168.0.101:8080</value>
            </setting>
            <setting name="pathkiosk" serializeAs="String">
                <value />
            </setting>
        </Kiosk.Properties.Settings>
    </userSettings>
</configuration>
